In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Churn_Prediction_Preprocessed.csv")

In [3]:
dataset.head(3)

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
0,23-12-2023,Enterprise,14,2786,33432,False,False,False,True,monthly,...,DevTools,UK,event,1,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
1,11-06-2024,Pro,17,833,9996,False,False,False,False,monthly,...,EdTech,AU,other,5,features,0.0,False,False,False,switched to competitor
2,25-11-2024,Enterprise,62,0,0,True,True,False,False,annual,...,FinTech,IN,event,13,Not Available,0.0,Unknown,Unknown,Unknown,Not Available

In [44]:
from Univariate_Analysis import Univariate

In [22]:
Quan, Qual= Univariate.QuanQual(dataset)

In [23]:
print(Quan)

['No.of users', 'Monthly revenue', 'Annual revenue', 'Licensed user count', 'refund_amount_usd']

In [24]:
print(Qual)

['Account creation date', 'plan_tier', 'Trial status', 'upgrade_flag', 'downgrade_flag', 'churn_flag', 'billing_frequency', 'auto_renew_flag', 'account_name', 'industry', 'country', 'referral_source', 'reason_code', 'Had upgrade within 90 days', 'Had downgrade within 90 days', 'is_reactivation', 'feedback_text']

In [26]:
Table=Univariate.Univariate_Table(Quan,dataset)

In [27]:
Table

,No.of users,Monthly revenue,Annual revenue,Licensed user count,refund_amount_usd
Mean,28.9006,1853.1783,22238.1396,18.9368,0.0
Median,24.0,931.0,11172.0,14.0,0.0
Mode,79,0.0,0,1,0.0
Q1:25%,14.0,285.0,3420.0,5.0,0.0
Q2:50%,24.0,931.0,11172.0,14.0,0.0
Q3:75%,40.0,2786.0,33432.0,27.0,0.0
99%,79.0,6537.5,78450.0,60.0,0.0
Q4:100%,79.0,6537.5,78450.0,60.0,0.0
Min,1,0.0,0,1,0.0
Max,79,6537.5,78450,60,0.0
IQR,26.0,2501.0,30012.0,22.0,0.0
1.5rule,39.0,3751.5,45018.0,33.0,0.0
Lesser,-25.0,-3466.5,-41598.0,-28.0,0.0
Greater,79.0,6537.5,78450.0,60.0,0.0
Skew,0.959745,1.194661,1.194661,1.063654,0.0
Kurtosis,0.207738,0.075552,0.075552,0.247842,0.0

In [28]:
print("Table columns:", Table.columns.tolist())

Table columns: ['No.of users', 'Monthly revenue', 'Annual revenue', 'Licensed user count', 'refund_amount_usd']

In [29]:
lesser, greater= Univariate.outlier(Table, Quan)

lesser= []
greater= []

In [30]:
FreqT=Univariate.freqTable(dataset, 'refund_amount_usd')

In [31]:
FreqT_Licence=Univariate.freqTable(dataset, 'Licensed user count')

In [35]:
FreqT_Licence

    Unique_Values  Frequency  Relative Freqn  Cumsum
0               1        360          0.0720  0.0720
1               5        271          0.0542  0.1262
2               3        265          0.0530  0.1792
3              60        265          0.0530  0.2322
4               9        228          0.0456  0.2778
5               4        226          0.0452  0.3230
6               8        183          0.0366  0.3596
7              19        172          0.0344  0.3940
8               2        165          0.0330  0.4270
9              13        161          0.0322  0.4592
10             11        139          0.0278  0.4870
11             15        128          0.0256  0.5126
12              7        125          0.0250  0.5376
13              6        122          0.0244  0.5620
14             16        114          0.0228  0.5848
15             18        112          0.0224  0.6072
16             12        110          0.0220  0.6292
17             23        110          0.0220  0.6512
18             14        106          0.0212  0.6724
19             21         90          0.0180  0.6904
20             24         89          0.0178  0.7082
21             17         83          0.0166  0.7248
22             31         82          0.0164  0.7412
23             20         78          0.0156  0.7568
24             41         78          0.0156  0.7724
25             29         73          0.0146  0.7870
26             10         71          0.0142  0.8012
27             26         64          0.0128  0.8140
28             22         63          0.0126  0.8266
29             25         63          0.0126  0.8392
30             32         60          0.0120  0.8512
31             28         58          0.0116  0.8628
32             27         53          0.0106  0.8734
33             33         48          0.0096  0.8830
34             40         47          0.0094  0.8924
35             30         46          0.0092  0.9016
36             44         40          0.0080  0.9096
37             50         39          0.0078  0.9174
38             38         38          0.0076  0.9250
39             34         35          0.0070  0.9320
40             47         35          0.0070  0.9390
41             45         35          0.0070  0.9460
42             39         35          0.0070  0.9530
43             37         28          0.0056  0.9586
44             35         26          0.0052  0.9638
45             55         25          0.0050  0.9688
46             53         21          0.0042  0.9730
47             46         21          0.0042  0.9772
48             36         16          0.0032  0.9804
49             59         16          0.0032  0.9836
50             48         14          0.0028  0.9864
51             43         14          0.0028  0.9892
52             54         13          0.0026  0.9918
53             56         10          0.0020  0.9938
54             42         10          0.0020  0.9958
55             58          9          0.0018  0.9976
56             49          7          0.0014  0.9990
57             51          5          0.0010  1.0000

In [36]:
Univariate.outlier_replace(lesser, greater, Table, dataset)

([], [])

In [37]:
Table

,No.of users,Monthly revenue,Annual revenue,Licensed user count,refund_amount_usd
Mean,28.9006,1853.1783,22238.1396,18.9368,0.0
Median,24.0,931.0,11172.0,14.0,0.0
Mode,79,0.0,0,1,0.0
Q1:25%,14.0,285.0,3420.0,5.0,0.0
Q2:50%,24.0,931.0,11172.0,14.0,0.0
Q3:75%,40.0,2786.0,33432.0,27.0,0.0
99%,79.0,6537.5,78450.0,60.0,0.0
Q4:100%,79.0,6537.5,78450.0,60.0,0.0
Min,1,0.0,0,1,0.0
Max,79,6537.5,78450,60,0.0
IQR,26.0,2501.0,30012.0,22.0,0.0
1.5rule,39.0,3751.5,45018.0,33.0,0.0
Lesser,-25.0,-3466.5,-41598.0,-28.0,0.0
Greater,79.0,6537.5,78450.0,60.0,0.0
Skew,0.959745,1.194661,1.194661,1.063654,0.0
Kurtosis,0.207738,0.075552,0.075552,0.247842,0.0

In [38]:
df = pd.DataFrame(dataset)

In [39]:
df[df.duplicated()]

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
3529,21-12-2024,Pro,37,1813.0,21756,False,False,False,False,monthly,...,Cybersecurity,US,partner,37,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
3713,31-12-2024,Basic,12,228.0,2736,False,False,False,False,monthly,...,DevTools,FR,partner,3,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
3887,10-12-2024,Pro,19,931.0,11172,False,False,False,False,annual,...,Cybersecurity,US,organic,19,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
4919,31-12-2024,Enterprise,28,5572.0,66864,False,False,False,False,monthly,...,FinTech,US,other,28,competitor,0.0,False,True,False,Not Available

In [40]:
df=pd.DataFrame(dataset)

In [41]:
df[df.duplicated()]

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
3529,21-12-2024,Pro,37,1813.0,21756,False,False,False,False,monthly,...,Cybersecurity,US,partner,37,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
3713,31-12-2024,Basic,12,228.0,2736,False,False,False,False,monthly,...,DevTools,FR,partner,3,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
3887,10-12-2024,Pro,19,931.0,11172,False,False,False,False,annual,...,Cybersecurity,US,organic,19,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
4919,31-12-2024,Enterprise,28,5572.0,66864,False,False,False,False,monthly,...,FinTech,US,other,28,competitor,0.0,False,True,False,Not Available

In [51]:
Freq=Univariate.freqTable(dataset, "refund_amount_usd")

In [52]:
Freq

   Unique_Values  Frequency  Relative Freqn  Cumsum
0            0.0       5000             1.0     1.0